[submodule "Platformer/libraries/Platformer/libraries/anim8"]
	path = Platformer/libraries/Platformer/libraries/anim8
	url = https://github.com/kikito/anim8.git
[submodule "Platformer/libraries/Platformer/libraries/Simple-Tiled-Implementation"]
	path = Platformer/libraries/Platformer/libraries/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "Platformer/Platformer/libraries/hump"]
	path = Platformer/Platformer/libraries/hump
	url = https://github.com/vrld/hump.git
